<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pfm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission 
        android:name="android.permission.INTERNET"/>
    
    <uses-permission 
        android:name="com.android.alarm.permission.SET_ALARM"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/pfm_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pfm.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Dashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Transaction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Register"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pfm.AddTransaction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADDTRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pfm.ModifyTransaction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MODIFYTRANSACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.GenerateReport"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GENERATEREPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.AddFinancialGoal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FINANCIALGOAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Reminders"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.REMINDERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pfm.graphActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GRAPHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pfm.PieChartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PIECHARTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.Alarm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".Alarm" android:process=":remote" />
        <activity
            android:name="com.example.pfm.AddBudget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BUDGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.ViewBudget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ViewBudget" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pfm.ViewFinancialGoal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWFINANCIALGOAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pfm.ModifyFinancialGoal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MODIFYFINANCIALGOAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".MyService" ></service>
        
        
    </application>

</manifest>
